@{
    ViewData["Title"] = "Index";
    string rutaBase = "http://localhost:5202";
}
@model List<Producto>


<div class="text-center">
    <h2>Lista de productos</h2>
</div>

<p>
    <a onclick="showInPopup('@Url.Action("Create", "Producto", new { id = 0 }, Context.Request.Scheme)')"
        class="btn btn-sm btn-success text-white">
        <i class="fas fa-user-plus"></i> Agregar Producto
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(producto.Ruta))
                    {
                        <img src="@($"{rutaBase}/{producto.Ruta}")" alt="Imagen del producto"
                            style="width: 100px; height: 100px; border-radius: 50%;" />
                    }
                </td>
                <td>@producto.Name</td>
                <td>@producto.Price</td>
                <td>@producto.Description</td>

                <td>
                    <a onclick="showInPopup('@Url.Action("Edit", "Producto", new { id = producto.Id }, Context.Request.Scheme)')"
                        class="btn btn-primary btn-sm">
                        <i class="fa fa-pencil-alt"></i>

                    </a>
                    <a onclick="showInPopup('@Url.Action("Delete", "Producto", new { id = producto.Id }, Context.Request.Scheme)')"
                        class="btn btn-danger btn-sm">
                        <i class='fa-solid fa-trash-can'></i> </a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    <partial name="_MostrarModal" />
    <script src="~/js/showmodal.js"></script>

}